# Must customize vendor and product id for your controller
ACTION=="add|change", SUBSYSTEM=="usb", ATTRS{idVendor}=="2321", ATTRS{idProduct}=="0005", RUN+="/bin/bash -c '/bin/echo /usr/local/bin/katana_bridge_start | /usr/bin/at now'"
ACTION=="remove", ENV{ID_VENDOR_ID}=="2321", ENV{ID_MODEL_ID}=="0005", ENV{DEVTYPE}=="usb_device", RUN+="/usr/local/bin/katana_bridge_stop"
